<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- TODO user need to change directory -->
    <add key="EncryptedFilePath" value="c:\20483\c_sharp\Mod13\Data"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
</configuration>
